/* 数値計算関連の関数を使うために必要 (math.divなど)*/
@use "sass:math";
@use "sass:map";

// ================================================
// インナー幅の設定
// ================================================

// コンテンツのインナー幅（Webサイトで一番多いインナー幅で設定）
$inner: 1330px;
// ↑この数字はコーディングするデザインによって書き換えてください

// 余白設定
// PC時の余白はデザインに応じたものではなく、最低取っておいた方が良い余白
$padding-pc: 25px;
// SP時はデザインカンプに沿って書き換えてください
$padding-sp: 25px;


////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
$second-font-family: "Oswald", sans-serif;


// ================================================
// 色に関する設定
// ================================================

$main: #2AC0BE;
$black: #000000;
$second: #12889A;
$yellow: #FFC803;
$orange: #EFA400;
$white: #fff;



// ================================================
// フォントについての設定
// ================================================

// フォントウェイト
$fw-light: 300; // 細い
$fw-normal: 400; // 通常
$fw-bold: 700; // 太い

// ================================================
// メディアクエリとブレークポイントの設定
// ================================================

// ブレイクポイントの数値を管理
$breakpoints: (
  sm: 550,
  md: 768,
  lg: 1200,
  xl: 1400,
  wide: 1441, // ワイドPC用（固定幅中央寄せ）
  wide-2: 1600, // ワイドPC用（固定幅中央寄せ）
);

body {
  font-family: $base-font-family;
  font-weight: 400;
  color: $black;
  overflow-x: hidden;
}